spring:
  datasource:
    url: jdbc:mysql://localhost:3306/dev_db
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  sql:
    init:
      mode: always
      continue-on-error: false